<app-splash></app-splash>
<app-home-intro></app-home-intro>
<app-home-resume></app-home-resume>
<app-home-skills></app-home-skills>
<app-home-interests></app-home-interests>
<app-home-contact></app-home-contact>
<app-intro></app-intro>
<!-- Work experience / resume taste test -->
<section class="bg-light container">
  <div>
    <h1>
      RightBrain Networks - Ann Arbor
    </h1>
    <h3>
      Software Developer
    </h3>
    <p>Languages / relevant techs</p>
    <p>
      Here is some more information about this internship!
    </p>
  </div>
  <div>
    <h1>
      Edwards Brothers Malloy - Ann Arbor
    </h1>
    <h3>
      Software Developer
    </h3>
    <p>Languages / relevant techs</p>
    <p>
      Here is some more information about this internship!
    </p>
  </div>
  <div>
    <h1>
      A2 Hosting - Ann Arbor
    </h1>
    <h3>
      Linux Support Technician
    </h3>
    <p>Languages / relevant techs</p>
    <p>
      Here is some more information about this internship!
    </p>
  </div>
</section>
<!-- Education mini -->
<section class="bg-light container">
  <div>
    <h1>
      University of Michigan - Ann Arbor
    </h1>
    <h3>
      Software Developer
    </h3>
    <p>Languages / relevant techs</p>
    <p>
      Here is some more information about this internship!
    </p>
  </div>
</section>
<!-- Projects mini, three random chosen?-->
<!-- Language, technologies skills -->
<section class="bg-light container">
  <div class="col-12">
    <ul>
      <li>C/C++</li>
      <li>Python</li>
      <li>HTML</li>
      <li>Bash</li>
      <li>Unity</li>
      <li>Angular</li>
      <li>React</li>
      <li>JavaScript / Typescript</li>
      <li>Git</li>
      <li>SQL</li>
    </ul>
  </div>
</section>
<!-- Contact -->
<app-showcases></app-showcases>
