html {
  scroll-behavior: smooth;
}

.come-in {
  transform: translateY(150px);
  animation: come-in 1.2s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1.4s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

/* Splash */

.splash {
  height: 100vh;
  min-height: 500px;
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.3) 0,
      rgba(22, 22, 22, 0.7) 85%,
      #161616 100%
    ),
    url("../images/trianglify.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  image-rendering: -webkit-optimize-contrast;

  color: white;
}

/* ICONS */

.icons .icon-item {
  height: 5rem;
  font-size: 3.5rem;
}

.icons .icon-item:hover {
  font-size: 4rem;
}

/* SHOWCASE */

.showcase .showcase-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 30rem;
  border-radius: 15px;
  transition: border-radius 1s ease-in;
}

.showcase .showcase-img:hover {
  border-radius: 90px;
  transition: border-radius .1s ease;
}

.showcase .showcase-text {
  padding: 3rem;
}

.panels .panel {
  background-color: rgb(117, 83, 181);
  border-radius: 15px;
}

.panels .panel:hover {
  background-color: rgb(106, 74, 165);
}

.panels .panel a {
  color: rgb(191, 172, 224);
}

#footer {
  width: 200px;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .splash {
    background-attachment: scroll;
  }
}

#splashText {
  animation-duration: 4s, 2s;
  -webkit-animation-name: fadein, slidein; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation-name: fadein, slidein; /* Firefox < 16 */
  -ms-animation-name: fadein, slidein; /* Internet Explorer */
  -o-animation-name: fadein, slidein; /* Opera < 12.1 */
  animation-name: fadein, slidein;
}

/* ANIMATIONS */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes bubbleimg {
  from {
    border-radius: 0px;
  }

  to {
    border-radius: 40px;
  }
}

/* FADES */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
