<div class="screen-fill bg-charcoal container-fluid text-center p-lg-5 p-5">
  <div class="row h-100 align-items-center">
    <h1 class="big-title col-12">Contact Me</h1>
    <div class="col-lg-4 col-12 p-lg-5 p-3">
      <a href="https://www.linkedin.com/in/elijah-scherz/">
        <div class="hover-div-dip p-lg-3 p-2">
          <div class="text-center p-lg-4 p-3">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faCircle"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faLinkedin"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <h3>LinkedIn</h3>
        </div></a
      >
    </div>
    <div class="col-lg-4 col-12 p-lg-5 p-3">
      <a href="mailto:elijahscherz@gmail.com">
        <div class="hover-div-dip p-lg-5 p-2">
          <div class="text-center p-lg-4 p-3">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faCircle"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faEnvelope"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <h3>Email</h3>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-12 p-lg-5 p-3">
      <a href="https://github.com/elijahscherz/">
        <div class="hover-div-dip p-lg-3 p-2">
          <div class="text-center p-lg-4 p-3">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faCircle"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faGithub"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <h3>Github</h3>
        </div></a
      >
    </div>
  </div>
</div>
