<div class="bg-charcoal container-fluid p-lg-5 p-3">
  <div class="p-3">
    <h1 class="big-title">School and Work Projects</h1>
    <div class="row">
      <!-- <app-project [name]="'Jira Duplicator'" [icon]="'faJira'" [description]="'This particular project was done during my time at RightBrain Networks. It started out as a Python
              script meant to copy simple issues between client boards and company boards. It evolved into its own
            custom module and class, which leveraged jira-python to access the Jira REST API and
            pull information from passed in issues. Using an argument system, the program could do multiple issues at
            once, do a query based on Jira\'s JQL syntax, or even sync two issues to match one another. I ended up
            supporting copying comments, priorities, assignees, and subtasks, all depending on the availability of the
            source and target issues.\n\nChallenges\nThe most difficult part of building this was dealing
            with the Jira API which would respond with different amounts of information from issues depending on a
            variety of variables, including who you were logged in as, what type of project you were getting issues
            from, etc. The solution to this was using checks to see if a field was available on the issue or subtask,
            and also seeing if required fields were all available on the source issue.'"></app-project> -->
      <div class="col-12 col-lg-6 p-3">
        <div class="gist hover-div-dip p-3">
          <div class="text-center p-4">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faCircle"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faJira"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <h2 class="text-center">Jira Duplicator</h2>
          <p>
            This particular project was done during my time at RightBrain
            Networks. It started out as a <b>Python script</b> meant to copy
            simple issues between client boards and company boards. It evolved
            into its own <b>custom module and class</b>, which leveraged
            <b>jira-python</b> to access the <b>Jira REST API</b> and pull
            information from passed in issues. Using an argument system, the
            program could do multiple issues at once, do a query based on
            <b>Jira's JQL syntax</b>, or even sync two issues to match one
            another. I ended up supporting copying comments, priorities,
            assignees, and subtasks, all depending on the availability of the
            source and target issues.<br /><br /><b>Challenges</b><br />The most
            difficult part of building this was dealing with the Jira API which
            would respond with different amounts of information from issues
            depending on a variety of variables, including who you were logged
            in as, what type of project you were getting issues from, etc. The
            solution to this was using checks to see if a field was available on
            the issue or subtask, and also seeing if required fields were all
            available on the source issue.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-3">
        <div class="gist hover-div-dip p-3">
          <div class="text-center p-4">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faCircle"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faBootstrap"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <h2 class="text-center">RightBrain Website</h2>
          <p>
            <a href="https://rightbrainnetworks.com">RBN's website</a> started
            out based in WordPress with some content already available, but it
            was in need of a modern update. It was previously hosted on
            <b>AWS Lightsail</b>, but since that platform takes more
            administration, I moved it to a new provider, and set up
            <b>three environments</b> (dev, stage, and prod) for a better
            development workflow. I used <b>Bootstrap and CSS</b> to update some
            of the pages that were already available, doing a major overhaul on
            the home page. Additionally, we split up their single solutions page
            into a suite of pages and created case studies that are more
            interactive than the pdfs that were previously available. There are
            more pages that I designed and created which simply need content
            from their team, and then they will be launched hopefully in the
            near future.
          </p>
        </div>
      </div>
      <!-- <div class="col-12 col-lg-6 p-3">
        <div class="gist hover-div-dip text-left p-3">
          <h2>Template Generator</h2>
          <p>info</p>
        </div>
      </div> -->
    </div>
  </div>

  <div class="p-3">
    <h1 class="big-title">Personal Projects</h1>
    <div class="row">
      <div class="col-12 col-lg-6 p-3">
        <div class="gist hover-div-dip p-3">
          <div class="text-center p-4">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faCircle"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faPython"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <h2 class="text-center">A Night to Remember</h2>
          <p>
            I've been working on this one for almost a year and a half at this
            point. My dad was a huge fan of
            <b>text-based Infocom games</b> (like Zork) when he was a kid and
            challenged me to make one. After playing one myself, I got a bit
            inspired and started working on it in the summer of 2018. I first
            decided to approach the problem using "vanilla" <b>Python</b>. I
            played a few more of the games and determined which parts of the
            system I wanted to incorporate. There are multiple ways to interact
            with the world based on commands and keywords. You can also move in
            different directions and collect items. While my initial system
            wasn't as complicated as Infocom's, which could support phrases like
            "stand on shoulders and leave hole", you could get/check items,
            interact with certain things like doors with those items, and
            move.<br /><br />At this point, I started to get more interested in
            where I could go with this. I've always enjoyed reading and wanted
            to make this into a story. I started writing a
            <b>murder mystery</b> where you need to explore and discover what
            happened. I decided I wanted to move this project into
            <b>C# and Unity</b> which would give me easier access to graphics,
            sounds, and more. Currently, we are working on completing more art,
            getting some final endings implemented, and brushing up on the
            details of the story. It's a work in progress, but a fun one.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-3">
        <div class="gist hover-div-dip p-3">
          <div class="text-center p-4">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faCircle"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faNodeJs"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <h2 class="text-center">Discord Chat Bot</h2>
          <p>
            This small project, which is somewhat of a constant work in
            progress, is a way to learn a bit more about how to we make bots act
            in a human-like fashion. I picked up the Discord API and started
            learning about what it can do when I built the foundation of a bot
            in <b>Node.js</b>. Right now, it doesn't do much, but it uses
            <b>VADER sentiment analysis</b> to post reactions to certain
            messages and reacts to other messages based on keywords. I polled
            friends and those online to see what types of words they typically
            react to and in what way, and then set up the bot to randomly react
            to messages.<br /><br />I wanted to incorporate more talking ability
            into the system, but didn't have too much experience with
            <b>NLP</b> up to this point. I found that
            <b>Google's Dialogflow had a Node.js SDK</b>, and I got to work
            hooking up a very basic chat / response system. There is a lot more
            I can do with it if I take the time to incorporate more responses In
            the future, using the <b>Intents</b> functionality that Google
            provides. I also can just let it loose in a couple of servers and
            <b>use the responses to train</b> it using Google's built in
            functionality. I'll make it more complex at some point, but it was
            just a fun little project.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-3">
        <div class="gist hover-div-dip p-3">
          <div class="text-center p-4">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faCircle"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faAngular"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <h2 class="text-center">My Website</h2>
          <p>
            I built this site not too long ago after wanting to change it from
            my old one. I decided that I wanted to learn
            <b>Angular and Typescript</b> so took this site as an opportunity.
            I'm still learning a lot of the concepts, as it is a big framework,
            but I love the power of it. The Github Gists at the bottom of this
            page are fetched from a service that utilizes
            <b>Angular's HTTPClient class</b> and the <b>Github API</b> to pull
            the code and information of all my public gists. Pretty sweet!<br /><br />I
            make use of <b>CSS for animations</b> and cool transitions, and have
            been using <b>Font Awesome</b> for icons (as they have a module for
            Angular now).
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 p-3">
        <div class="gist hover-div-dip p-3">
          <div class="text-center p-4">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faCircle"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faNodeJs"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <h2 class="text-center">Discord Soundboard Bot</h2>
          <p>
            After building one Discord bot, a friend of mine messaged me and
            wanted me to make something for him: a bot which could
            <b>join voice chat and play clips</b>. Using the
            <b>node-opus</b> module, I was able to get the bot to stream clips.
            Ask requested, I made a method for tagging these clips in the bot,
            so that you can then search them while in Discord. The bot will
            direct message you with a list of relevant clips. If you use one of
            the bots keywords while chatting, it will start playing it's clips
            for a variety of hilarious outcomes and ridiculous interruptions. We
            later on extended this functionality to be able to play music!
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-3">
    <h1 class="big-title">Github Gists</h1>
    <div class="row">
      <div class="col-12 col-lg-6 p-3" *ngFor="let gist of gists">
        <div class="gist hover-div-dip text-center p-3">
          <div class="text-center p-4">
            <fa-layers class="project-icon" size="7x" [fixedWidth]="true">
              <fa-icon [icon]="faGithub"></fa-icon>
              <fa-icon
                [inverse]="true"
                [icon]="faJira"
                transform="shrink-6"
              ></fa-icon>
            </fa-layers>
          </div>
          <a [href]="gist.html_url">
            <h2 *ngFor="let file of gist.files | keyvalue">
              {{ file.value.filename }}
            </h2>
          </a>
          <p>{{ gist.description }}</p>
          <pre class="text-left"><code [highlight]="gist.content"></code></pre>
        </div>
      </div>
    </div>
  </div>
</div>
