<!-- Quick Intro -->
<section id="intro" class="py-5 text-center bg-light container-fluid">
  <div>
    <h2 class="font-weight-light">
      When I was younger, I used to say<br />
      that I was a bit of a hobbyist.
    </h2>
    <p class="lead">
      Here are a couple cool things about me, and links to further
      information if possible.
    </p>
  </div>

  <section class="icons p-5">
    <div class="row">
      <span class="col-4 icon-item fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-code fa-stack-1x"></i>
      </span>
      <span class="col-4 icon-item fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-guitar fa-stack-1x"></i>
      </span>
      <span class="col-4 icon-item fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-compact-disc fa-stack-1x"></i>
      </span>
    </div>
  </section>
</section>
<!-- /Quick Intro -->