<!-- Quick Intro -->
<section id="intro" class="py-5 text-left bg-light container">
  <div>
    <h2 class="font-weight-light">A little about me...</h2>
    <p class="lead">
      I'm currently an undergraduate computer science student at the University
      of Michigan. I've worked on projects ranging from React sites to
      multithreaded file servers and truly enjoy variety. In my spare time, I
      love to host game nights, play Ultimate, cook new recipes, develop games,
      and dive into any hobby I can get my hands on.
    </p>
  </div>

  <!-- <section class="icons p-5 d-none d-lg-block">
    <div class="row">
      <span class="col-4 icon-item fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-code fa-stack-1x"></i>
      </span>
      <span class="col-4 icon-item fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-guitar fa-stack-1x"></i>
      </span>
      <span class="col-4 icon-item fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-compact-disc fa-stack-1x"></i>
      </span>
    </div>
  </section> -->
</section>
<!-- /Quick Intro -->
