<div class="panels container">
  <div class="row">
    <div class="col-md-4 p-2">
      <div class="panel col-md-12 p-4 slide-right">
        <h3>Currently Attending The University of Michigan, Ann Arbor</h3>
        <p class="lead">It's a great place, honestly.</p>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="panel col-md-12 p-4 slide-up">
        <h3>Worship Leader</h3>
        <p class="lead">
          Using my skills and superpowers of music to play guitar and
          occasionally sing at
          <a
            href="https://www.facebook.com/Chelsea-Church-of-The-Nazarene-158323664189170/"
            >Chelsea Church of the Nazarene</a
          >.
        </p>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="panel col-md-12 p-4 slide-left">
        <h3>Sunday School Teacher</h3>
        <p class="lead">
          Also at Chelsea, I take great pride in showing the little ones how
          amazing God's love can really be. Jealous?
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 p-2">
      <div class="panel col-md-12 p-4 slide-right">
        <h3>Blender</h3>
        <p class="lead">
          This
          <a href="https://www.blender.org/">3D modeling software</a>
          has to be one of the most fantastic things I've ever played with. With
          the resources online, I guarantee you can shock yourself at the
          realism you can make.
        </p>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="panel col-md-12 p-4 slide-up">
        <h3>Raspberry Pi</h3>
        <p class="lead">
          I've started working with these little devices, and they can be
          applied in some of the most interesting ways. Recently, I made a
          system that combines arcade, SNES, NES, SEGA, and even more. It
          started as a small project inspired by wanting to let my dad play the
          games he used to play, but grew into a system with thousands of games,
          multiple controllers, and hopefully a portable version in the near
          future.
        </p>
      </div>
    </div>
    <div class="col-md-4 p-2">
      <div class="panel col-md-12 p-4 slide-left">
        <h3>Movies and TV</h3>
        <p class="lead">
          I'm a huge movie and TV fan. I've fancied myself a bit of a critic
          when it comes to these things, and I very much enjoy analyzing films
          and pulling them apart to see what either makes them good or garbage.
          Wonder Woman? Good. Stranger Things? Good. Suicide Squad? Not so good.
        </p>
      </div>
    </div>
  </div>
</div>
