<!-- Footer -->
<footer id="footer" class="p-4 my-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <h4>Elijah Scherz</h4>
                <a>elijahscherz@gmail.com</a>
            </div>
        
            <div class="col-8 text-right my-auto">
                <a routerLink="">HOME</a>
                <a routerLink="/projects">PROJECTS</a>
                <!-- <a class="nav-item nav-link active" routerLink="/experience">EXPERIENCE</a>
                  <a class="nav-item nav-link active" routerLink="/contact">CONTACT</a> -->
            </div>
        </div>
    </div>
</footer>