<!-- Splash -->
<header id="mainSplash" class="splash">
  <div class="container-fluid h-100">
    <div id="splashText" class="row h-100 align-items-center text-center">
      <!-- <div id="splashText" class="text-center"> -->
      <div class="offset-lg-1 col-lg-4 col-12">
        <img src="assets/images/headshot.jpg" alt="Elijah Scherz">
      </div>
      <div class="col-lg-7 col-12">
        <h1 class="display-2 font-weight-light">
          Elijah Scherz
        </h1>
        <h2 class="font-weight-light">
          Developer. Musician. Player.
        </h2>
      </div>
      <!-- </div> -->
    </div>
  </div>
</header>
<!-- /.Splash-->
