  <!-- Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <section class="row no-gutters">
        <div class="col-md-6 order-md-1 showcase-img p-5"
          style="background-image: url('assets/images/pic01.jpg');"></div>
        <div class=" col-md-6 order-md-2 showcase-text my-auto slide-left">
          <h2>Code Development</h2>
          <p class="lead">
            I've been programming for a couple years now and have bounced
            between languages involved with web development to bash scripting.
            I've been loving C#, specifically as it applies to game creation
            in <a href="https://unity3d.com/">Unity</a>. Most recently, I've
            been working with C++ to learn more about the techniques of object
            oriented programming.
          </p>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 order-md-2 showcase-img p-5"
          style="background-image: url('assets/images/pic02.jpg');"></div>
        <div class="col-md-6 order-md-1 showcase-text my-auto slide-right">
          <h2>Ultimate Frisbee</h2>
          <p class="lead">
            I've played friz for over seven years now. Over the last
            couple years I've competed in multiple tournaments including the
            U.S. Open in Minnesota, Club Regional Championships, and College Nationals in Texas. I
            love the sport, I love the people.
          </p>
        </div>
      </section>

      <section class="row no-gutters">
        <div class="col-md-6 order-md-1 showcase-img p-5"
          style="background-image: url('assets/images/pic03.jpg');"></div>
        <div class="col-md-6 order-md-2 showcase-text my-auto slide-left">
          <h2>Music</h2>
          <p class="lead">
            From a young age, I grew up in a musical household. My parents
            both play various instruments as well as sing, and those skills
            have passed down to me. I play guitar and sing, and can carry a
            beat on drums and play simple chord songs on piano. Can't seem to
            forget how much of a wonder music is, and that is likely what
            brings me to listen to so many tunes. I've got pretty wide tastes,
            from alternative, to classic rock, to punk pop. Take a look at my
            <a href="https://open.spotify.com/user/elijahscherz">Spotify</a>
            to find some new bands and some great playlists.
          </p>
        </div>
      </section>
    </div>
  </section>
  <!-- /Showcases -->