<!-- Skills Summary -->
<section id="intro" class="py-5 text-left bg-light container">
  <h1 class="home-title p-5">SKILLS</h1>
  <hr>

  <div class="home-skill-entry row py-3" *ngFor="let skill of skills" style="white-space: pre-wrap;">
    <div class="col-2 text-center">
      <!-- TODO: Icon on bar when it loads? -->
      <!-- <h3>ICON</h3> -->
      <span class="icon-item fa-stack fa-1x">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-code fa-stack-1x"></i>
      </span>
    </div>
    <div class="col-10">
      <h4>{{skill.name}}, {{skill.type}}
      </h4>
      <p>{{skill.type}}</p>
      <p class="lead">{{skill.percentage}}</p>
    </div>
  </div>
</section>
<!-- /Skills Summary -->
