<section class="bg-charcoal text-center container-fluid p-lg-5 p-3">
  <div class="p-3">

    <div echarts [options]="playOptions" [theme]="theme" class="chart"></div>

    <!-- <div class="row h-100 align-items-center">
      <div class="col-6">
        <div echarts [options]="dayOptions" [theme]="theme" class="chart"></div>
      </div>
      <div class="col-6">
        <div echarts [options]="playerOptions" [theme]="theme" class="chart"></div>
      </div>
    </div> -->

    <!-- Sorting Toolbar -->
    <div class="py-5">
      <!-- Desktop sorting button group -->
      <div *ngIf="!isMobile">
        <div class="btn-toolbar p-1" role="toolbar">
          <div class="btn-group btn-group-lg btn-group-toggle mx-auto" role="group" data-toggle="buttons">
            <label class="btn btn-light btn-lg">
              <input type="radio" (click)="onClickAlpha()" name="options" id="option1" autocomplete="off">
              Alphabetical
            </label>
            <label class="btn btn-light disabled">
              <input type="radio" (click)="onClickGeek()" name="options" id="option2" autocomplete="off">
              Geek Rating
            </label>
            <label class="btn btn-light disabled">
              <input type="radio" (click)="onClickRating()" name="options" id="option3" autocomplete="off">
              My Rating
            </label>
            <label class="btn btn-light">
              <input type="radio" (click)="onClickPlays()" name="options" id="option4" autocomplete="off">
              Plays
            </label>
          </div>
        </div>
        <div class="btn-toolbar p-1" role="toolbar">
          <div class="type-filter btn-group btn-group-toggle mx-auto" role="group" data-toggle="buttons">
            <label class="btn btn-light active">
              <input type="checkbox" (click)="onClickBoardGames()" checked autocomplete="off"> Board
              Games
            </label>
            <label class="btn btn-light">
              <input type="checkbox" (click)="onClickExpansions()" autocomplete="off"> Expansions
            </label>
          </div>
        </div>
      </div>

      <!-- Mobile sorting button group -->
      <div *ngIf="isMobile">
        <div class="btn-toolbar p-1" role="toolbar">
          <div class="btn-group btn-group-sm btn-group-toggle mx-auto" data-toggle="buttons">
            <label class="btn btn-light">
              <input type="radio" (click)="onClickAlpha()" name="options" id="option1" autocomplete="off">
              Alphabetical
            </label>
            <label class="btn btn-light disabled">
              <input type="radio" (click)="onClickGeek()" name="options" id="option2" autocomplete="off">
              Geek Rating
            </label>
            <label class="btn btn-light disabled">
              <input type="radio" (click)="onClickRating()" name="options" id="option3" autocomplete="off"> My
              Rating
            </label>
            <label class="btn btn-light">
              <input type="radio" (click)="onClickPlays()" name="options" id="option4" autocomplete="off">
              Plays
            </label>
          </div>
        </div>
        <div class="btn-toolbar p-1" role="toolbar">
          <div class="type-filter btn-group btn-group-sm btn-group-toggle mx-auto" role="group" data-toggle="buttons">
            <label class="btn btn-light active">
              <input type="checkbox" (click)="onClickBoardGames()" checked autocomplete="off"> Board
              Games
            </label>
            <label class="btn btn-light">
              <input type="checkbox" (click)="onClickExpansions()" autocomplete="off"> Expansions
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- /Sorting Toolbar -->

    <div class="row h-100 align-items-center">
      <div class="col-lg-4 col-6 p-3" *ngFor="let game of games">

        <!-- Render each game -->
        <div class="game p-3">
          <!-- <h2 *ngIf="!isMobile && sortMethod === 'plays'">{{game.numplays}}</h2>
                    <h5 *ngIf="isMobile && sortMethod === 'plays'">{{game.numplays}}</h5> -->
          <a target="_blank" rel="noopener noreferrer" href="https://boardgamegeek.com/boardgame/{{game.bggId}}">
            <img src="{{game.urlImage}}">
          </a>
          <h2 *ngIf="!isMobile">{{game.name}}</h2>
          <h5 *ngIf="isMobile">{{game.name}}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
